<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Affine Transformations</title>
    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
        }
        .form-container {
            padding: 30px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="form-container text-center">
        <h1 class="mb-4">Upload an Image</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file" class="h5">Select an Image for Transformation:</label>
                <input type="file" id="file" name="file" class="form-control-file mt-2" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-dark btn-lg mt-3">Apply Transformations</button>
        </form>
    </div>
</body>
</html>
